default_stages: [commit]
repos:
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      -   id: black
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        name: isort (python)
        args: [--profile, black]
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v8.4.0'
    hooks:
    -   id: eslint
        files: \.[jt]sx?$  # *.js, *.jsx, *.ts and *.tsx
        types: [file]
        additional_dependencies:
        - 'eslint'
        - 'typescript'
        - '@typescript-eslint/eslint-plugin'
